<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ExpressMe</display-name>
	<description>ExpressMe.org, Fast and Lightweight Blog System on Java, version 1.0</description>
	<distributable />
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.expressme.webwind.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>container</param-name>
			<param-value>Guice</param-value>
		</init-param>
		<init-param>
			<param-name>modules</param-name>
			<param-value>org.expressme.examples.showcase.module.ShowcaseModule</param-value>
		</init-param>
		<init-param>
            <param-name>template</param-name>
            <param-value>org.expressme.webwind.template.JspTemplateFactory</param-value>
        </init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>globalFilter</filter-name>
		<filter-class>org.expressme.modules.web.GlobalFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>globalFilter</filter-name>
		<url-pattern>*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>org.expressme.modules.web.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.expressme.modules.web.Log4jConfigListener</listener-class>
	</listener>	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>